---
layout: default
permalink: /projects
---

<div class="cards-container" style="display: flex; flex-wrap: wrap; justify-content: space-evenly; align-items: unset;">
    {% for project in site.projects %}
    <div class="card">
        <img class="card-img" src="{{ project.thumb }}" />
        <div class="right-block"></div>
        <div class="card-body">
            <h3 class="card-title">{{ project.title }}</h3>
            <p class="card-text">{{ project.description }}</p>
            <div class="card-tags">
                {% for ctg in project.categories %}
                <p class="tag">{{ ctg }}</p>
                {% endfor %}
            </div>
            <a href="{{ project.url }}" class="btn">See More <i class="fa-solid fa-arrow-right"></i></a>
        </div>
    </div>
    {% endfor %}
</div>