body,
ul,
li,
p {

    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
}

header{
    display: flex;
    margin: 0 0 100px 0;
    padding: 10px;
    align-items: center;
    background-color: #282828;
    color: #d8a657;
    justify-content: space-around;

}

header img{
    width: 100px;
    height: 100px;
}

body{
    background-color: transparent;
}

body .background{
    position: fixed;
    top: 0;
    left: 0;
    width: 500%;
    height: 500%;
    opacity: 0.3;
    background-image: url(../img/bg/topographic.png);
    background-repeat: repeat;
    background-size: auto;
    z-index: -1;
    transition: background-position 0.1s linear;
}

body .background .front{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    align-content: center;
    justify-items: center;
}