<div class="social-media-list">
    <ul>
        <li>
            <a href="https://github.com/sudo-tildo">
                <i class="fa-brands fa-github"></i>
                <p>Sudo-Tildo</p>
            </a>
        </li>

        <li>
            <a href="https://www.linkedin.com/in/breno-de-moraes/">
                <i class="fa-brands fa-linkedin"></i>
                <p>Breno de Moraes</p>
            </a>
        </li>
    </ul>
</div>

<div class="footer-email">
    <i class="fa-solid fa-at"></i>
    <p>tildo.dev@gmail.com</p>
</div>

<nav class="footer-navbar">
    <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/projects">Projects</a></li>
    </ul>
</nav>