#hero-section {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    justify-content: space-evenly;
    align-items: center;
    margin: auto;
    padding: 5rem 1rem;
}

.hero-text {
    grid-column: 1 / span 2;
}

.hero-image-container {
    grid-column: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2rem;
}

.hero-image {
    border: 2px dashed var(--accent-color);
    image-rendering: pixelated;
}

.top-left-block{
    position: relative;
    left: 0.4rem;
    top: -9rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--accent-color);
}

.left-block {
    position: relative;
    left: 1.4rem;
    bottom: -9rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--text-color);
}

.right-block {
    position: relative;
    left: -0.8rem;
    bottom: 9rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--link-color);
}

.bottom-right-block {
    position: relative;
    left: -1.8rem;
    bottom: -9rem;
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--accent-color);
}

/* ========================================================================== */
/*    PROJECTS */
/* ========================================================================== */

#projects {
    position: relative;
    background: var(--box-color);
    display: flex;
    width: 100%;
}

.heading {
    margin-left: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 3rem;
}

.h-block {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px dashed var(--link-color);
    justify-self: flex-start;
}

.separator {
    flex: 1;
    max-width: 100%;
    border: 2px dashed var(--link-color);
    border-bottom: 2px;
}
