---
layout: post
---

<style>
    .img-container {
        display: flex;
        justify-content: center;
    }

    .img-container img {
        width: 360px;
        border-radius: 100%;
    }

    .socials {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
        gap: 1rem;
    }
    .socials a {
        transform: scale(1.5);
    }
</style>

<div class= "img-container">
    <img src="/assets/img/profile/pfp.jpg" alt="Profile Picture of me, the developer">
</div>

<div class="socials">
    <a href="https://github.com/sudo-tildo">
        <i class="fa-brands fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/breno-de-moraes/">
        <i class="fa-brands fa-linkedin"></i>
    </a>
</div>

{{ content }}