<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bytesized&family=Jersey+10&display=swap" rel="stylesheet">    
    <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    <script src="https://kit.fontawesome.com/9204e9c765.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        {% include header.html %}
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
        {% include footer.html %}
    </footer>

</body>
</html>